@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity

@model IdentityResult

<h1>Errors</h1>

<ul>
    @foreach (var listItem in Model.Errors)
    {
        <li>listItem</li>

    }
</ul>