@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <section class="items-wrap">
            <a href="#" class="item">
                <img class="item__image" src="~/img/item01.jpg" alt="item01" />
                <h2 class="item__title">Magnificence</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item02.jpg" alt="item02" />
                <h2 class="item__title">Electrifying</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item03.jpg" alt="item03" />
                <h2 class="item__title">Dynamic</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item04.jpg" alt="item04" />
                <h2 class="item__title">Crucial</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item05.jpg" alt="item05" />
                <h2 class="item__title">Awe-inspiring</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item06.jpg" alt="item06" />
                <h2 class="item__title">Serene</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item07.jpg" alt="item07" />
                <h2 class="item__title">Vulnerable</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item08.jpg" alt="item08" />
                <h2 class="item__title">Bountiful</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item09.jpg" alt="item09" />
                <h2 class="item__title">Endangered</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item10.jpg" alt="item10" />
                <h2 class="item__title">Beautiful</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item11.jpg" alt="item11" />
                <h2 class="item__title">Inspiring</h2>
            </a>
            <a href="#" class="item">
                <img class="item__image" src="~/img/item12.jpg" alt="item12" />
                <h2 class="item__title">Refreshing</h2>
            </a>
        </section>
    
